<% content_for :sidebar do -%>
<%= link_to image_tag("POP_Logo.jpg", class: "img-responsive img-rounded img-thumbnail", :alt => "Stock Image"),  title: "Link to photo queue on the book page" %>
<% end -%>

<h1>Welcome to the POP Database</h1>

<p>The Provenance Online Project, or POP, is a splendid enterprise bringing images of provenance marks from rare books in libraries around the coutnry together online.  Now you have the unprecedented opportunity to not only search these lovely provenance marks, but to contribute images from books near you.  This will, undoubtedly, change your life forever in astounding and wonderful ways.  


