<h1>Editing Book</h1>

<% content_for :sidebar do -%>
  <%= render '/books/small_title_page_photos', book: @book -%>
<% end -%>

<%= render 'form' %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
