<h1>Editing Book</h1>

<% content_for :sidebar do -%>
  <% if @book.title_pages.present? -%>
    <%= render '/photos/small_photos', photos: @book.title_pages.flat_map(&:photos) %>
  <% end -%>
<% end -%>

<%= render 'form' %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
