<div class="modal fade" id="context-image-modal" tabindex="-1" role="dialog" aria-labelledby="Context image">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="preview-modal-title">Choose page image</h4>
      </div>
      <div id="context-image-modal-body" class="modal-body">
        Hi!
      </div>
    </div>
  </div>
</div>