<div class="modal fade" id="preview-<%= modal_tag -%>" tabindex="-1" role="dialog" aria-labelledby="Preview">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="preview-title<%= modal_tag -%>">Preview: <%= item.flickr_title %></h4>
      </div>
      <div class="modal-body">
        <%= render '/flickr/show', book: book, item: item -%>
      </div>
    </div>
  </div>
</div>