<div class="col-sm-4">
  <div class="btn-group btn-group-justified" role="group">
    <%= publish_book_link 'Publish book', book, remote: true -%>
    <%= unpublish_book_link 'Unpublish book', book, remote: true -%>
  </div>
</div>
<div class="col-sm-8"> </div>