<div class="col-sm-4">
  <div class="btn-group btn-group-justified" role="group">
    <%= link_to_publish_book 'Publish book', book, class: 'btn btn-success btn-sm', title: 'Publish/Update all book images', data: { toggle: 'tooltip' }, remote: true -%>
    <%= link_to_unpublish_book 'Unpublish book', book, class: 'btn btn-danger btn-sm', title: 'Remove all book images from Flickr', data: { toggle: 'tooltip' }, remote: true -%>
  </div>
</div>
<div class="col-sm-8"> </div>